body{
    margin: 0;
    padding: 0;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    font-family: sans-serif;
    color: white;
}
.div1{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}
#username{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 200px;
    font-size: 20px;
}
#password{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 200px;
    font-size: 20px;
}#btn_login{
    background: none;
    border: 1px solid white;
    width: 180px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    cursor: pointer;
}
#username,#password{
    padding: 5px;
    color: white;
}
h1{
    border: 1px solid white;
}
