
body{
    background: url(background.jpg);
    background-size: cover;
    font-family: sans-serif;

    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    margin-top: 90px;

}
#id{
    border: 1px solid black;
    width: 10px;
    color: white;
}
#name{
    width: 100px;
    border: 1px solid black;
    color: white;

}
#address{
    width: 100px;
    border: 1px solid black;
    color: white;
}
#email{
    width: 200px;
    border: 1px solid black;
    color: white;
}
#phone{
    width: 100px;
    border: 1px solid black;
    color: white;

}
#gender{
    width: 50px;
    border: 1px solid black;
    color: white;
}
#course{
    width: 100px;
    border: 1px solid black;
    color: white;
}
td{
    border: 1px solid black;
    color: white;
}
#home{
    background: none;
    border: 1px solid white;
    width: 180px;
    height: 40px;
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
}